@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}
:root {
  --primary: #0ea5e9;
  --primary-darker: #0284c7;

  --danger: #ef4444;
  --danger-darker: #dc2626;
  --success: #22c55e;
  --success-darker: #16a34a;
}
.theme-light {
  --text-base: #000;
  --background: #fff;
  --background-darker: rgb(241, 241, 241);
  --background-darkest: rgb(215, 215, 215);
  --background-lighter: #fff;
  --secondary: #ececec;
  --secondary-darker: #dfdfdf;
}
.theme-dark {
  --text-base: #fff;
  --background: #303030;
  --background-darker: #282828;
  --background-darkest: #202020;
  --background-lighter: #363636;
  --secondary: #454545;
  --secondary-darker: #404040;
}
