.leaflet-container {
  height: 80vh;
  width: 100%;
  z-index: 10;
}
.leaflet-div-icon {
  background: transparent;
  border: none;
}

.leaflet-popup-content {
  margin: 0;
  overflow: auto;
}
.leaflet-popup-close-button {
  display: none;
}
.leaflet-popup-content-wrapper {
  padding: 0;
}
